<!DOCTYPE html>

<html>
<html lang="en-US">
<body>

<div class="center jumbotron">
	<h1>ABC Computer Repair</h1>
	<%= link_to 'Sign up now', signup_path, class: "btn btn-primary brn-lg" %>
</div>
<p></p>

</body>
</html>