<!DOCTYPE html>

<html>
<html lang="en-US">
<body>

<h1>Hello Rails</h1>

<p>This is my first attempt at a rails application</p>

<%= link_to 'About', pages_about_path %> | <%= link_to 'Articles', articles_path %><br/>
<p></p>

<%= image_tag('profileimage.png', size: '400x200', alt: 'Kai') %>

</body>
</html>