<!DOCTYPE html>

<html>
<html lang="en-US">
<body>

<h1>This is the About page</h1>

<p>This is my first attempt at a rails application</p>

<%= image_tag('profileimage.png', size: '400x200', alt: 'Kai') %>
<p></p>

<%= link_to 'Index', welcome_index_path %>

</body>
</html>